/* Permet de faire tenir les padding & border dans les largeurs des boites */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fait tenir les images dans leur parent et enlève l'espacement en bottom */
img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    h1 {
        margin: 0;
        color: #fff;
    }
}


.table {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;

    p {
        margin-top: 300px;
        font-family: inherit;
        /* font-size: 20px; */
        color: #fff;
    }
}

button {
        width: 100px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: rgb(255, 255, 255);
        color:rgb(13, 73, 53) ;
        font-family: inherit;
        cursor: pointer;
    }


.cards {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 160px;
    font-size: 40px;
    align-content: center;
    background: rgb(223, 87, 87);
    border: 1px solid black;
    cursor: pointer;
    transform-style: preserve-3d;
    /* transition smooth movement of cards , manage animation flip cards */
    transition: left 0.5s ease, transform 0.6s ease;
}

.flipped {
    /* need to change translate back again or there is a problem */
    transform: translateY(-50%) rotateY(180deg);
}

.text_zone {
    margin-top: auto;
    color: #fff;
}

.bet_zone {
    margin-top: 50px;
    color: #fff;
    font-weight: bold;
}

